{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>
                    Du hast Post
                </h2>

                <p>
                    Bitte rufe deine E-Mails ab. Wir haben dir gerade einen Link geschickt, mit dem du dein Kennwort zurücksetzen kannst.
                </p>

                <p>
                    Eventuell wurde diese E-Mail als Spam markiert, wenn sie nicht angekommen ist.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
