{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Kennwort anfordern
                </h2>

                <p>
                    Bitte gib deinen Benutzernamen ein, um ein neues Kennwort anzufordern. Wir schicken dir dann gleich eine E-Mail.
                </p>

                <p>
                    Bitte schreibe eine Mail, falls du dich nicht an deinen Benutzernamen erinnerst.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <div class="row">
                        <div class="col-12">
                            <label for="username">
                                Dein Benutzername
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-12">
                            <input class="form-control form-control-lg" type="text" id="username" name="username" required="required" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-12 text-center">
                            <input class="btn btn-primary btn-lg" type="submit" value="Weiter" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}
