{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-10 offset-md-1">
            <h2 class="text-center">
                Mission
            </h2>

            {{ app.session.get('city').missionText|markdown }}

            <p class="text-center">
                Du kannst dich daran beteiligen:
            </p>

            <p class="text-center">
                <a href="{{ path('photo_upload') }}" class="btn btn-primary">
                    Foto hochladen
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
