{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-xl-6 offset-xl-1">
            <h2 class="text-center">
                Mission
            </h2>

            {{ getCity().missionText|markdown }}

            <p class="text-center">
                Du kannst dich daran beteiligen:
            </p>

            <p class="text-center">
                <a href="{{ path('photo_upload') }}" class="btn btn-primary">
                    Foto hochladen
                </a>
            </p>
        </div>

        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            {{ render(controller('AppBundle:Sidebar:sidebar')) }}
        </div>
    </div>
</div>
{% endblock %}
