{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-10 offset-md-1">
            <div class="card-columns">

            </div>
        </div>
    </div>
</div>
{% endblock %}
