{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-10 offset-md-1">
            <div class="card-columns">
                {% for event in eventList %}
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">
                                {{ event.title }}
                            </h4>

                            {% if event.short_description is defined and event.short_description %}
                            <p class="card-text">
                                {{ event.short_description }}
                            </p>
                            {% endif %}
                        </div>
                        <div class="card-footer text-muted">
                            {{ event.date_time|date('d.m.Y') }} um {{ event.date_time|date('H:i') }} Uhr
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
