{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>
                    Du hast Post
                </h2>

                <p>
                    Eine E-Mail wurde verschickt. Sie beinhaltet einen Link zum Zurücksetzen des Passwortes.
                </p>

                <p>
                    Hinweis: Ein neues Passwort kann nur alle 24 Stunden beantragt werden.
                </p>

                <p>
                    Eventuell wurde diese E-Mail als Spam markiert, wenn sie nicht angekommen ist.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
