$primary: rgb(239,200,40);

@import "leaflet/leaflet.css";
@import "extramarkers/extramarkers.min.css";
@import "bootstrap/bootstrap";
@import "fontawesome/font-awesome";

#logo-container {
  margin-top: 70px;
}

nav.navbar {
  min-height: 56px;
  opacity: 0.95;
}

.photo {
  img.img-profile {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  &.has-location {
    img.img-profile {
      width: 36px;
      height: 36px;
    }

    .photo-meta {
      height: 36px;
      line-height: 18px;
    }

    address a,
    address a:hover
    {
      text-decoration: none;
      color: inherit;
    }
  }
}

.interaction {
  background-color: $primary;
  border: 3px black solid;
}

$btn-white-color: black !default;
$btn-white-bg: white !default;
$btn-white-border: white !default;

.btn-white {
  @include button-variant($btn-white-color, $btn-white-bg, $btn-white-border);
}
