@import "bootstrap/bootstrap";
@import "fontawesome/font-awesome";

#logo-container {
  margin-top: 70px;
}

nav.navbar {
  min-height: 56px;
  opacity: 0.95;
}

.photo {
  img.img-profile {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  &.has-location {
    img.img-profile {
      width: 36px;
      height: 36px;
    }

    .photo-meta {
      height: 36px;
      line-height: 18px;
    }
  }
}

