$primary: rgb(239, 200, 40);
$primary-dark: rgb(205, 169, 37);

@import "leaflet/leaflet.css";
@import "extramarkers/extramarkers.min.css";
@import "bootstrap/bootstrap";
@import "fontawesome/font-awesome";

#logo-container {
  margin-top: 70px;
}

nav.navbar {
  min-height: 56px;
  opacity: 0.95;
}

img.img-profile {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.photo {
  &.has-location {
    img.img-profile {
      width: 36px;
      height: 36px;
    }

    .photo-meta {
      height: 36px;
      line-height: 18px;
    }

    address a,
    address a:hover
    {
      text-decoration: none;
      color: inherit;
    }
  }
}

.interaction {
  background-color: $primary;
  border: 3px black solid;
}

.btn-primary {
  color: $white !important;
}

$btn-white-color: black !default;
$btn-white-bg: white !default;
$btn-white-border: white !default;

.btn-white {
  @include button-variant($btn-white-color, $btn-white-bg, $btn-white-border);
}

#sidebar-button {
  width: 60px;
  height: 60px;
  border: 2px black solid;
  border-radius: 50%;
  text-align: center;
  bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: fixed;
  padding: 10px;
  font-size: 24px;
  color: white;
  box-shadow: inset 0 0 25px 0 rgba(255,255,255,1), 0 0 10px 10px rgba(216, 216, 216, 0.5);
  text-shadow: 0 0 3px black;
  z-index: 5000;
  cursor: pointer;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0004+0,ffffff+100 */
  background: $primary; /* Old browsers */
  background: -moz-linear-gradient(top, $primary 0%, $primary-dark 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $primary 0%,$primary-dark 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $primary 0%, $primary-dark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#floating-sidebar-container {
  display: none;
  background: rgba(64, 64, 64, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5vh 10vw 5vh 10vw;
  z-index: 4999;
  overflow-y: auto;
}
