{% if bikeMeter is defined %}
    <div class="card mt-2">
        <div class="card-body text-center">
            <h4 class="card-title">
                Fahrrad-O-Meter
            </h4>
            <p class="card-text">
                Aktuelle Daten von der Gurlittinsel
            </p>
        </div>

    </div>
{% endif %}
