{% if calendar is defined %}
    <div class="card mt-2">
        <div class="card-body text-center">
            <h4 class="card-title">
                Kalender
            </h4>
            <p class="card-text">
                Radverkehrstermine der nächsten Wochen
            </p>
        </div>

        <ul class="list-group list-group-flush">
            {% for calendarEntry in calendar.eventList %}
                <a href="{{ calendarEntry.permalink }}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">{{ calendarEntry.title }}</h6>
                    </div>
                    <small>{{ calendarEntry.dateTime|date('d.m.Y H:i', 'Europe/Berlin') }} Uhr</small>
                </a>
            {% endfor %}
        </ul>
    </div>
{% endif %}
