<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-12">
            <a href="{{ path('frontpage') }}">
                <img class=" mx-auto d-block" src="{{ asset('bundles/app/images/logo/logo-200.png') }}" alt="Logo Fahrradstadt Hamburg" />
            </a>
        </div>
    </div>
</div>