<div class="row mt-3 mb-3">
    <div class="col-12">
        <a href="{{ path('frontpage') }}">
            <img class=" mx-auto d-block" src="{{ asset('bundles/app/images/logo/logo-300.png') }}" alt="Logo Fahrradstadt Hamburg" />
        </a>
    </div>
</div>
