<div id="interaction" class="card interaction">
    <div class="card-block text-center">
        <h3 class="card-title">
            Du radelst gern in Hamburg?
        </h3>

        <p class="card-text">
            Lade ein Foto vom Radfahren in Hamburg hoch &mdash; es dauert keine 30 Sekunden!
        </p>

        <p>
           <a href="{{ path('photo_upload') }}" class="btn btn-white btn-lg">
                Foto hochladen
           </a>
        </p>
    </div>
</div>
