{% if getCity().callToActionTitle and getCity().callToActionText %}
<div id="interaction" class="card interaction">
    <div class="card-body text-center">
        <h3 class="card-title">
            {{ getCity().callToActionTitle }}
        </h3>

        <p class="card-text">
            {{ getCity().callToActionText|raw }}
        </p>

        <p>
           <a href="{{ path('photo_upload') }}" class="btn btn-white btn-lg">
                Foto hochladen
           </a>
        </p>
    </div>
</div>
{% endif %}
