<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded" style="opacity: 0.8;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav container">
            <a class="nav-item nav-link" href="#">
                Mission
            </a>

            <a class="nav-item nav-link" href="#">
                Archiv
            </a>

            <a class="nav-item nav-link" href="#">
                Hochladen
            </a>

            <a class="nav-item nav-link" href="#">
                Login
            </a>
        </div>
    </div>
</nav>