{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            {% for photo in pagination %}
            <div class="row mb-3">
                <div class="col-12">
                    {% include 'AppBundle:Includes:photo.html.twig' with { 'photo': photo, 'userFavorites': userFavorites } %}
                </div>
            </div>

            {% if loop.index0 == 3 %}
            <div class="row mb-3">
                <div class="col-12">
                    {% include 'AppBundle:Includes:interaction.html.twig' %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>

{{ include('AppBundle:Includes:commentModal.html.twig') }}

{% endblock %}

{% block additionalFooterElements %}
    <script type="text/javascript">
        Fahrradstadt.loadModule('CommentBox');
        Fahrradstadt.loadModule('FavoriteStar');
    </script>
{% endblock %}
