{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-xl-9">
            {% for photo in pagination %}
            {% if loop.index0 == 2 and not app.user %}
                <div class="row mb-3">
                    <div class="col-12">
                        {% include 'AppBundle:Includes:interaction.html.twig' %}
                    </div>
                </div>
            {% endif %}

            <div class="row mb-3">
                <div class="col-12">
                    {% include 'AppBundle:Includes:photo.html.twig' with { 'photo': photo, 'userFavorites': userFavorites } %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-12 col-md-4 col-xl-3">
            {{ render(controller('AppBundle:Sidebar:sidebar')) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>

{{ include('AppBundle:Includes:locationModal.html.twig') }}
{{ include('AppBundle:Includes:commentModal.html.twig') }}

{% endblock %}

{% block additionalFooterElements %}
    <script type="text/javascript">
        Fahrradstadt.loadModule('LocationBox', '#location-modal');
        Fahrradstadt.loadModule('CommentBox');
        Fahrradstadt.loadModule('FavoriteStar');
    </script>
{% endblock %}
